<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net481" />
  <package id="CsvHelper" version="33.0.1" targetFramework="net481" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Gmail.v1" version="1.68.0.3427" targetFramework="net481" />
  <package id="Google.Apis.Oauth2.v2" version="1.68.0.1869" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net481" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net481" />
  <package id="System.Management" version="7.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.5.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
</packages>